/* .box {
    width: 50rem;
    
} */

.link {
    text-decoration: none;
    color: white;
    border: 10px;    
}

.linkHome {
    margin-left: 55rem;
}

.link:hover {
    background-color: white;
    opacity: 70%;
    color: rgb(255, 6, 6);
}
